body {
	margin: 0 auto;
	width: 100%;
}

h1, h2, h3, h4, h5 {

	font-family: 'Signika', sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #FF00FF;
}

a:active {
    text-decoration: none;
    color: #FF00FF;
}

.whitepic {
	color: white;
	background-color: gray;
	padding: 35px;
	margin: 10px;
	border-radius: 10px;
	width: 25%;
	position: relative;
	text-align: center;
}

.fa {
	font-size: 5em;
}

.fa.fa-envelope-o, .fa.fa-file-text {
	font-size: 1em;
}

.bgimg {
	background: url("../images/roses_medium.jpg");
	background-size: cover;
	color: #fff;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.centertext {
	text-align: center;
}


.third {
	width: 100%;
	float: none;
	margin-bottom: 20px;
}

.navigation {
	margin: 0;
	padding: 0;
}	

.footerList li {
	list-style: none;
	margin-left: -2.30rem;
}
.navigation li {
	display: block;
	list-style: none;
 	margin: 5px 5px;
	width: 100%;
}

.navigation li a {
	padding: 10px;
}

.double {
	width: 100%;
	float: none;
	margin-bottom: 20px;
}


/****  Media Query  
			 This is the base case and starts 
			 with a screen that is at least 600 pixels wide.
****/

@media (min-width: 600px) {
	.double {
		width: 50%;
		float: left;
		margin-bottom: 20px;
	}
	
	.third {
		width: 33%;
		float: left;
	  margin-bottom: 20px;
}
	
	.navigation li {
		display: inline;
		width: auto;
	}
}






