body {
	margin: 0 auto;
	width: 100%;
}

h1, h2, h3, h4 {

	font-family: 'Signika', sans-serif;
}

.whitepic {
	color: white;
	background-color: gray;
	padding: 35px;
	margin: 10px;
	border-radius: 10px;
	width: 25%;
	position: relative;
	text-align: center;
}

.bgimg {
	background: url("../images/Labeled_Medium.jpg");
	background-size: cover;
	color: #000;

}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.centertext {
	text-align: center;
}


.third {
	width: 33%;
	float: left;
	}

.navigation {
	margin: 0;
	padding: 0;
}	

.footerList li {
	list-style: none;
	margin-left: -2.30rem;
}
.navigation li {
	display: inline;
	list-style: none;
 	margin: 0 5px;
}

.navigation li a {
	padding: 10px;
}

/*.welcome {
	background-color: #000;
	color: #fff;
}
*/

.double {
	width: 50%;
	float: left;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
