body {
	margin: 0 auto;
	width: 100%;
}

h1, h2, h3, h4 {

	font-family: 'Signika', sans-serif;
}

.whitepic {
	color: white;
	background-color: gray;
	padding: 35px;
	margin: 10px;
	border-radius: 10px;
	width: 25%;
	position: relative;
	text-align: center;
}

.fa {
	font-size: 5em;
}

.fa.fa-envelope-o {
	font-size: 1em;
}

.fa.fa-file-text{
	font-size: 1em;
}

.bgimg {
	background: url("../images/Labeled_Medium.jpg");
	background-size: cover;
	color: #000;

}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.centertext {
	text-align: center;
}


.third {
	width: 100%;
	float: none;
	}

.navigation {
	margin: 0;
	padding: 0;
}	

.footerList li {
	list-style: none;
	margin-left: -2.30rem;
}
.navigation li {
	display: block;
	list-style: none;
 	margin: 5px 5px;
	width: 100%;
}

.navigation li a {
	padding: 10px;
}

/*.welcome {
	background-color: #000;
	color: #fff;
}
*/

.double {
	width: 100%;
	float: none;
}

@media (min-width: 600px) {
	.double {
		width: 50%;
		float: left;
	}
	
	.third {
		width: 33%;
		float: left;
	}
	
	.navigation li {
		display: inline;
		width: auto;
	}
}






